
.toggle {
    display: none;
}

.droppable {
    border: 1px #000000 solid;
    padding: 10px;
    border-radius: 4px;
}

.draggable {
    border: 1px #000000 solid;
    padding: 10px;
    border-radius: 6px;
}

h4 {
    text-align: center;
}


.target {
    background-color: #E8E8E8;
}

.start {
    background-color: white;
}

body {
    background-color: #F8F8F8;
}

.target .draggable {
    background-color: white;
}

.start .draggable {
    background-color: #E8E8E8;
}

input[type='checkbox'] {
    float: right;
}

label {
    font-weight: bold;
}

 .chart {
    border: 1px #000000 solid;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
 }

 td, th {
    text-align: center;
 }